<!-- BEGIN LEFT CONTENT -->
<div class="content-left">
    <div class="content-inner">
        <img class="headshot" src='headshot.jpg' />
        <div class="contact-info">
            <p class="name">
                Stanton W. Jones
            </p>
            <p class="email">
                admin@stantonwjones.com
            </p>
            <span class="share">
                <a href="https://github.com/stantonwjones">
                    <%= image_tag "github-logo.png" %>
                </a>
                <a href="http://www.linkedin.com/pub/stanton-jones/31/aa9/41">
                    <%= image_tag "linkedin-logo.png" %>
                </a>
            </span>
        </div>
    </div>
</div>
<!-- END LEFT CONTENT -->
<!-- BEGIN RIGHT CONTENT -->
<div class="content-right">
    <!-- TODO: add a topmenu to this section.
                The topmenu would have the links to different
                post categories.
    -->
    <div class="content-inner">
        <p class="post-content">
            Hello, and welcome.  I'm a full-stack web developer with a background in rails, python, client/serverside javascript with a spattering of java, and c++ mixed in.
            I've worked with MySql, PostGRESql, Redis, and Solr.
            I studied course 6-2 with a focus in AI.
            Check out my github for a myriad of hair-brained, half-finished projects, or my linked in for resume, contacts, etc.
            Otherwise, enjoy my rants and raves.  Maybe one of the aforementioned projects will make it here with a link to by me a coffee, a beer, or a shot.
        </p>
    </div>

</div>
<!-- END RIGHT CONTENT -->
