<!DOCTYPE HTML>
<html>
    <head>
        <script src="./main.js"></script>
    </head>
    <body>
        <script type="application/template" data-properties="author title source" name="galleryListItem">
            <div class="galleryListItem">
                <div class="imageContainer">
                    <img src="#source#" />
                </div>
                <div class="info">
                    <span>#author#</span>
                    <span>#title#</span>
                </div>
                <div class="thumbs">
                    <div class="gallery">
                    </div>
                    <div class="control">
                    </div>
                </div>
            </div>
        </script>
        <script type="application/template" data-properties="source" name="galleryThumbItem">
            <div class="galleryThumbItem">
                <img src="#source#">
            </div>
        </script>
        <script type="application/template" data-properties="author title" name="galleryModal">
            <div class="GalleryModal">
            </div>
        </script>
        <script type="application/javascript">
            function test() {
                return [
        </script>
        <script id="test" src="http://snapguide.com/api/v1/guide/b995492d5e7943e3b2757a88fe3ef7c6" type="text/javascript"></script>
        <script type="application/javascript">
            ]};
        </script>

        <div class="page">
            <div>
                <h2>Browse Feeds</h2>
            </div>
            <div id="galleryList">
                
            </div>
        </div>

    </body>
</html>
