<!DOCTYPE HTML>
<html>
    <head>
        <script src="/assets/javascripts/gallery.js"></script>
        <link type="text/css" rel="stylesheet" href="/assets/stylesheets/gallery.css" />
    </head>
    <body>
        <script type="application/template" data-properties="author title source" name="galleryListItem">
            <div class="galleryListItem">
                <div class="gallery-image-container">
                    <div class="gallery-thumb-container">
                    </div>
                    <div class="preview-btn">preview</div>
                </div>
                <div class="info">
                    <span>#author#</span>
                    <span>#title#</span>
                </div>
                <div class="preview-container">
                </div>
            </div>
        </script>
        <script type="application/template" data-properties name="galleryPreview">
            <div class="galleryPreview">
                <div class="pagination">
                    <span class="prev">prev</span>
                    <span class="pageNum"></span> / 
                    <span class="total"></span>
                    <span class="next">next</span>
                </div>
                <div class="thumbs-wrapper">
                    <div class="thumbs-slider">
                        <div class="prev thumb-container">
                        </div>
                        <div class="current thumb-container">
                        </div>
                        <div class="next thumb-container">
                        </div>
                    </div>
                </div>
            </div>
        </script>
        <script type="application/template" data-properties="source" name="galleryThumbItem">
            <div class="galleryThumbItem">
                <img src="#source#">
            </div>
        </script>
        <script type="application/template" data-properties="author title source" name="galleryModal">
            <div class="galleryModal">
                <div class="heading">
                    <span class="author">#author#</span>
                    <span class="title">#title#</span>
                </div>
                <div class="control">
                    <span class="prev">prev</span>
                    <span class="close">close</span>
                    <span class="next">next</span>
                </div>
                <div class="image-container">
                    <img src="#source#"/>
                </div>
            </div>
        </script>

        <div class="page">
            <div>
                <h2>Browse Feeds</h2>
            </div>
            <div id="galleryList">
                
            </div>
        </div>
        <div id="modalContainer">
        </div>
    </body>
</html>
